  /*CSS general*/
  
  h1,
  h3 {
      text-align: center;
  }
  
  .contenedor .form {
      width: 90%;
      max-width: 800px;
      margin: auto;
  }
  /*Fieldset de los datos personales*/
  
  .datos {
      font-size: 1em;
      margin: 10px 2%;
  }
  
  .datos input {
      height: 40px;
      width: 100%;
      font-size: 0.75em;
  }
  
  .datos label {
      display: block;
      margin-top: 10px;
  }
  
  .datos div {
      position: relative;
      width: 45%;
      margin: 10px 2%;
      display: inline-block;
  }
  
  .datos div:last-child {
      width: 85%;
      margin: 0 2% 10px;
  }
  
  .datos div:last-child input {
      width: 100%;
      padding: 10px 0 0 1%;
      border: 1px solid gray;
  }
  /*Fieldset del perfil del participante*/
  
  .perfil {
      margin: 15px 2%;
  }
  
  .perfil label {
      display: block;
      margin-top: 15px;
      margin-right: 25px;
  }
  
  .perfil div {
      margin: 15px 0;
  }
  
  .interes {
      position: relative;
  }
  
  .interes p {
      font-size: 0.8em;
      margin: 3px 0 10px;
      text-align: left;
  }
  
  .interes textarea {
      width: 100%;
      resize: vertical;
      font-size: 1em;
  }
  
  #actividad {
      padding: 8px;
  }
  
  .talleres p,
  .actividad p {
      font-size: 0.8em;
      margin: 3px 0 10px;
  }
  
  #talleres {
      padding: 5px;
      overflow: hidden;
  }
  
  #talleres option {
      padding: 5px;
  }
  
  .asistencia p {
      font-size: 1em;
      margin: 30px 0 10px;
  }
  
  .asistencia label {
      display: unset;
      cursor: pointer;
  }
  
  .opcion {
      margin: 5px 0 !important;
  }
  
  .opcion label {
      font-size: 1em !important;
      margin: 0;
  }
  /*aviso legal y boton enviar*/
  
  .legal,
  .submit {
      text-align: center;
      margin: 0 0 30px;
  }
  
  #legal {
      height: 15px;
      width: 15px;
  }
  
  .submit input {
      font-size: 1em;
      text-transform: uppercase;
      padding: 16px 25px;
      background-color: gold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin: 0 30px;
  }
  
  .required:after {
      content: "*";
      margin-left: 3px;
      color: red;
      font-weight: bold;
  }